In [8]:
for i in range(4): 
    print('Rushav')
    if i == 2: 
        break
else: 
    print('Loop successfull')

Rushav
Rushav
Rushav

In [38]:
name = ["Ram","Shyam","Hari"]
se = [30,50,40]
ads = [50,78,51]
for i,(a,b,c) in enumerate(zip(name,se,ads)):
    print(f" {i} : {a} has scored {b} in Software Engineering and {c} in Applied Data Science")
    if a == "harry":
        print(f"harry in {i}")

 0 : Ram has scored 30 in Software Engineering and 50 in Applied Data Science
 1 : Shyam has scored 50 in Software Engineering and 78 in Applied Data Science
 2 : Hari has scored 40 in Software Engineering and 51 in Applied Data Science

In [12]:
a = zip(name,salary)

In [14]:
a

In [16]:
list(a)

[('ram', 2000), ('shyam', 3400), ('hari', 4500)]

In [7]:
a = 1 
b = 6
c = 5

if a>b and a<c:
    print('a is mid')
elif a<b and a>c:
    print('a is mid')    
elif b>a and b < c: 
    print('b is mid')
elif b<a and b > c: 
    print('b is mid')
elif c > a and c < b: 
    print('c is mid')
elif c<a and c>b:
    print('c is mid')

c is mid

In [1]:
def calc():
    a = int(input('enter number: '))
    if a % 2 == 0:
            print('You win')
    else: 
        calc()

calc()

enter number:  4

You win

In [13]:
n = 151
res = 0 
t = n
while n!=0: 
    r = n % 10
    res = res * 10 + r
    n = int(n/10)
if t == res: 
    print('pali')
else: 
    print('not pali')

pali

In [9]:
n = 153
res = 0 
t = n
while n!=0: 
    r = (n % 10)**3
    res = res + r
    n = int(n/10)
if t == res: 
    print('arm')
else: 
    print('not arm')

arm

In [15]:
a = 5 
print(a^2)

7

In [17]:
a=6

In [19]:
a^3

5

In [7]:
a = (19, 18, 17, 1, 21, 22, 54, 46, 25, 49,
50, 1, 59, 39, 43, 39, 5, 9, 38, 18,
14, 45, 54, 59, 46, 50, 29 ,12 ,19, 36,
38, 40, 43, 41, 10 ,50 ,41, 25, 19, 39,
27 ,20)

print(sorted(a))

[1, 1, 5, 9, 10, 12, 14, 17, 18, 18, 19, 19, 19, 20, 21, 22, 25, 25, 27, 29, 36, 38, 38, 39, 39, 39, 40, 41, 41, 43, 43, 45, 46, 46, 49, 50, 50, 50, 54, 54, 59, 59]

In [11]:
n = 5

def fibo(n):
    if n <= 0: 
        return 0
    elif n == 1: 
        return 1
    else: 
        return fibo(n-1) + fibo(n-2)


for i in range(n): 
    print(fibo(i))

0
1
1
2
3

In [34]:
def pali(n): 
    if len(n) <= 1: 
        return True
    elif n[0] != n[-1]: 
        return False
    else: 
        return pali(n[1:-1])
n = "racecar"

if pali(n):
    print('Is pali')
else: 
    print('Not pali')

Is pali

In [54]:
def fac(n): 
    if n == 0 or n == 1:
        return 1
    else: 
        return n * fac(n-1)

n = 3

print(f'The factorial is {fac(n)}')

The factorial is 6

In [60]:
def sumDig(n): 
    if n == 1: 
        return 1
    elif n == 0: 
        return 0
    else: 
        return n + sumDig(n-1)
n = 5

print(sumDig(n))

15

In [69]:
def fac(n): 
    if n == 1 or n == 0: 
        return 1 
    else: 
        return n * fac(n-1)

n = 5
print(f'The fac is {fac(n)}')

The fac is 120

In [71]:
def sumN(n):
    if n == 0: 
        return 0 
    elif n == 1:
        return 1
    else: 
        return n + sumN(n - 1)

n = 10 
print(sumN(n))

55

In [79]:
def fibo(n): 
    if n == 0: 
        return 0
    elif n == 1: 
        return 1
    else: 
        return fibo(n-1) + fibo(n-2)

print(fibo(6))

8

In [115]:
def rev(n): 
    if len(n) == 0: 
        return n
    else: 
        for i in range(len(n)):
            return n[-1] + rev(n[:-1])

n = 'hello'

print(rev(n))
print(n[-1])
print(rev(n[:-1]))

olleh
o
lleh

In [129]:
def pali(n): 
    if len(n) == 0: 
        return True
    elif n[0] != n[-1]:
        return False
    else: 
        return pali(n[1:-1])

n = 'madam'

pali(n)

True